body{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: 'Shojumaru', cursive;
}
.body {
    transition: 0.2s ease-in-out;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
  }

.header{
    margin-top: 2vh;
    font-size: 2vh;
}
h1{
    font-size: 7vh;
}
img{
    width: 24vh;
    transition: transform 0.3s ease-in-out;
}
img:hover{
    transform: scale(1.2);
}
p{
    font-size: 2.5vh;
}
.weapon_text{
    font-size: 4.5vh;
}
.weapons{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vh;
}
.scoreboard{
    margin: 7vh 0 0 0 ;
}
.score{
    display: flex;
    justify-content: center;
    gap: 20vh;
    font-size: 9vh;
}
.player_score{
    margin-right: 4vh;
}
.text{
    display: flex;
    justify-content: center;
    gap: 5vh;
    font-size: 3vh;
}
.round_result{
    margin: 2vh;
    text-align: center;
    font-size: 2vh;
}
.footer a img{
    width: 2.5vh;
}